

div.title{
    text-decoration: underline;
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 40pt;
    margin-top: 164px;
    font-family: 'Lilita One';
}

div.desc{
    background-color: white;
    height: 340px;
}

div.AboutMeDesc{
    text-align: center;
}

ul {
    width: 100%;
    height: 100%;
}

table.AboutMeTable{
    width: 60%;
    margin: auto;
    font-family: 'Hahmlet';
}

table.AboutMeTable tr{
    text-align: center;
}

table.AboutMeTable tr td{
    height: 200px;
    font-size: large;
    font-weight: 700;
}

table tr{
    text-align: left;
}

div.careerDesc{
    text-align: center;
    background-color: white;
    height: 450px;
}

div.careerDesc span{
    font-size: large;
    font-weight: 600;
}

div.MySkillsWrap{
    text-align: center;
    width: 100%;
    height: 1000px;
}

div.skillsImg{
    display: inline-block;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5%;
}
div.MySkillsWrap img{
    width: 180px;
    height: 120px;
    border-radius: 4%;
}

table.careerTable{
    width: 60%;
    margin: auto;
    font-family: 'Hahmlet';
}
div.MyGitHubWrap{
    height: 750px;
    font-family: 'Hahmlet';
}
table.careerTable tr{
height: 50px;
}

table.careerTable tr td{
    font-size: 1.2em;
    font-weight: 500;
}

div.ArchivingWrap{
    text-align: center;
    width: 100%;
    margin: auto;
    height: 450px;
}

div.ArchivingImg{
    display: inline-block;
    border: 2px solid black;
    width: 650px;
    height: 350px;
    border-radius: 4%;
    cursor: pointer;
    background-color: white;
}

div.aWrap a {
    color: cornflowerblue;
    font-size: 1.2em;
    text-decoration: none;
}

div.aWrap a:hover{
    font-size: 1.2em;
}

a.git{
    color: black;
    text-decoration: none;
}

div.projectDesc{
    width: 40%;
    margin-left: 10%;
    font-size: large;
    float: left;
    text-align: left;
    font-family: 'Nanum Gothic';
}


div.projectDesc span{
    color: cornflowerblue;
}

div.projectsDesc2{
    width: 40%;
    float: left;
    text-align: left;
    margin-left: 8%;
    font-family: 'Nanum Gothic';
}

div.projectsWrap{
    height: 300px;
}

h1{
    margin-bottom: 50px;
    font-family: 'Black Han Sans';
}